.has-shadow {
    @include has-shadow();
}

.scale-on-hover {
    @include scale-on-hover(1.1);
}

.is-mobile-only {
    display: block;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.is-desktop-only {
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
    }
}

.button {
    &.is-primary-dark {
        color: $primary-invert;
        background-color: $primary-dark;
        border-color: $primary-dark;

        &:hover {
            background-color: lighten($primary-dark, 2);
            color: $primary-invert;
            border-color: $primary-dark;
        }
    }
}

.sticky-container {
    .sticky-container__placeholder {
        /** display: none; */
    }

    .sticky-container__content {
        z-index: 5;
        position: relative;

        &.is-sticky {
            position: fixed;
            left: 0;
            right: 0;
            z-index: 5;

            + .sticky-container__placeholder {
                display: block;
            }
        }
    }

    &.is-header {
        .sticky-container__content {
            z-index: 30;
        }
    }
}