.header {
    height: $header-height-mobile;
    background-color: $grey;
    z-index: $z-index-header;

    position: fixed;
    left: 0;
    right: 0;

    &:before {
        content: "";
        background-color: $grey;
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    .navbar-brand {
        align-items: center;
        justify-content: flex-end;
        background-color: white;

        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 100%;
            background-color: $grey;
            clip-path: polygon(0 $header-height-mobile, 0px $header-height-mobile, 100% 0%, 0 0);
            position: absolute;
            left: 0;
        }

        .navbar-item {
            margin: auto;
            padding: 0;
        }
    }

    .navbar {
        background: none;
    }

    .navbar-menu {
        display: block;
        align-items: flex-end;
        background-color: $grey;
        position: fixed;
        top: $header-height-mobile;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 15rem;
        padding: 2rem;
        z-index: $z-index-side-menu;
        transform: translateX(100%);
        transition: transform $speed $easing;
        overflow: auto;

        &.is-active {
            transform: translateX(0);
            transition: transform 150ms $easing;
        }

    }

    .header__logo {
        display: flex;

        img {
            max-height: $header-height-mobile;
        }
    }


    .navbar-item {
        color: white;
        font-size: $size-5;

        &:hover, &:focus-within {
            background: none;
            color: $grey-lighter
        }
    }

    .navbar-end .navbar-item {
        height: 3.25rem;
    }

    .navbar-burger {
        height: $header-height-mobile;
        background-color: $grey;
        color: $light;
        margin-left: 2rem;

        &:hover {
            background-color: $grey;
        }

        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 100%;
            background-color: $grey;
            clip-path: polygon(0 100%, 100% 100%, 100% 0%);
            position: absolute;
            left: -75%;
        }
    }

    &__logo.navbar-item {
        padding: 0
    }

    &__content {
        width: 90%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }

    .header__upload-area {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary;
        padding: 0;
        border-radius: 50%;
        margin: 0.5rem;

        img {
            transform: translateY(-1px);
        }
    }
}

.page__content {
    overflow-x: hidden;
}

@media screen and (min-width: $desktop) {
    .header {
        height: $header-height-desktop;
        background-color: $white;

        &:before {
            height: $header-height-mobile;
            bottom: 2px;
        }

        .header__logo {
            img {
                max-height: $header-height-desktop;
            }
        }

        .upload-area {
            &.is-mobile {
                display: none;
            }
        }

        .navbar {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .navbar-brand {
            background: none;

            &:after {
                content: none;
            }
        }

        .header__upload-area.is-mobile-only {
            display: none;
        }

        .navbar-menu {
            display: flex;
            position: absolute;
            height: $header-height-desktop / 2;
            top: auto;
            right: 0;
            bottom: 2px;
            width: auto;
            max-width: none;
            padding: 0;
            transform: none;
            transition: none;
            overflow: auto;
        }
    }
}

.navbar-item.has-dropdown:hover {
    .navbar-dropdown {
        display: block;
    }
}